In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'text':['people watch campusx' ,'campusx watch campusx' , 'people writen campusx' , 'campusx write comment'] , 'output': [1 , 1, 0 , 0]})
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2  people writen campusx       0
3  campusx write comment       0

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf.fit_transform(df['text']).toarray()

array([[0.42389674, 0.        , 0.64043405, 0.64043405, 0.        ,
        0.        ],
       [0.7979221 , 0.        , 0.        , 0.60276058, 0.        ,
        0.        ],
       [0.37919167, 0.        , 0.5728925 , 0.        , 0.        ,
        0.72664149],
       [0.34618161, 0.66338461, 0.        , 0.        , 0.66338461,
        0.        ]])

In [10]:
# if we want to get the tfidf of a given word , then the below code can give us

print(tfidf.idf_)
print(tfidf.get_feature_names_out())

[1.         1.91629073 1.51082562 1.51082562 1.91629073 1.91629073]
['campusx' 'comment' 'people' 'watch' 'write' 'writen']